.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.App__balance {
  display: flex;
  justify-content: space-between;
  background: #ec755d;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 20rem;
}

.App__balance-total {
  font-size: 1.2rem;
  font-weight: 700;
}

.App__spending {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.App__spending-header {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 0 2rem 0;
}

.App__table {
  display: flex;
  height: 10rem;
  gap: 0.75rem;
  justify-content: center;
}

.App__bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.App__bar {
  background: #ec755d;
  width: 2rem;
  border-radius: 0.2rem;
}

.App__bar:hover {
  filter: brightness(85%);
}

.App__bar-highlight {
  background: #76b5bc;
}

.App__day {
  text-align: center;
  color: gray;
}

.App__divider {
  height: 2px;
  background: lightgray;
  margin: 1rem 0;
}

.App__total {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.App__label {
  color: grey;
}

.App__amount {
  font-size: 1.2rem;
  font-weight: 700;
}

.App__percentage {
  text-align: right;
  font-weight: 700;
}

.App__comparison {
  text-align: right;
  color: grey;
}
